*{
	margin: 0;
	padding: 0;
}


#portifolio{
    background:rgba(199, 94, 28, 0.92);
    color: white;
    overflow: hidden;
}


#home{
	background: #DBD7D7;
    color: Black;
    overflow-x: hidden;
}

.caixa{
	padding: 60px 0;
	border-bottom: 2px solid #A9A9A9;
	overflow-x: hidden;
}
#recur{
	background: #DBD7D7;
	overflow-x: hidden;
}

footer p a {
	margin: 5px 15px;
    color: #008B8B;
   
    
}
footer a {
    color:#008B8B;
}

@media only screen and (max-width: 767px){
	
	.input-group-append{text-align: center;}
	.texto-top{width: 100%; margin: auto 0;}
	.texto-top h1{font-size: 35px; text-align: center;}
	.texto-top p{text-align: center;}
	.plataformas{text-align: center;}
}

/* WHATSAPP FIXO */
.whatsapp-fixo {
position: fixed;
bottom:10px;
left:10px;
z-index: 999;

}

.whatsapp:hover {
    color: aqua;
    background-color: aqua;
    box-shadow: 0 0 10px #00FFFF. 0 0 40px #00FFFF, 0 0 80px #00FFFF;
}
